[submodule "mcdtrac_project/rapidsms_generic"]
	path = mcdtrac_project/rapidsms_generic
	url = git://github.com/unicefuganda/rapidsms-generic.git
[submodule "mcdtrac_project/rapidsms"]
	path = mcdtrac_project/rapidsms
	url = git://github.com/unicefuganda/rapidsms.git
[submodule "mcdtrac_project/rapidsms_uganda_common"]
	path = mcdtrac_project/rapidsms_uganda_common
	url = git://github.com/unicefuganda/rapidsms-uganda-common.git
[submodule "mcdtrac_project/rapidsms_contact"]
	path = mcdtrac_project/rapidsms_contact
	url = git://github.com/unicefuganda/rapidsms-contact.git
[submodule "mcdtrac_project/rapidsms_script"]
	path = mcdtrac_project/rapidsms_script
	url = git://github.com/unicefuganda/rapidsms-script.git
[submodule "mcdtrac_project/rapidsms_polls"]
	path = mcdtrac_project/rapidsms_polls
	url = git://github.com/unicefuganda/rapidsms-polls.git
[submodule "mcdtrac_project/rapidsms_mcdtrac"]
	path = mcdtrac_project/rapidsms_mcdtrac
	url = git://github.com/unicefuganda/rapidsms-mcdtrac.git
[submodule "mcdtrac_project/rapidsms_xforms_src"]
	path = mcdtrac_project/rapidsms_xforms_src
	url = git://github.com/unicefuganda/rapidsms-xforms.git
[submodule "mcdtrac_project/rapidsms_httprouter_src"]
	path = mcdtrac_project/rapidsms_httprouter_src
	url = git://github.com/unicefuganda/rapidsms-httprouter.git
[submodule "mcdtrac_project/rapidsms_unregister"]
	path = mcdtrac_project/rapidsms_unregister
	url = git://github.com/unicefuganda/rapidsms-unregister.git
[submodule "mcdtrac_project/monitor_src"]
	path = mcdtrac_project/monitor_src
	url = git://github.com/unicefuganda/monitor_src.git
[submodule "mcdtrac_project/django_eav"]
	path = mcdtrac_project/django_eav
	url = git://github.com/unicefuganda/django-eav.git
[submodule "mcdtrac_project/rapidsms_auth"]
	path = mcdtrac_project/rapidsms_auth
	url = git://github.com/unicefuganda/rapidsms-auth.git
